<a href="#" data-target="slide-out" class="sidenav-trigger btn teal boton-cambio-periodo">Cambiar periodo</a>
<ul id="slide-out" class="sidenav">
    <li><div class="barra-lateral">
    </div></li>
  <li><a class="waves-effect" href="/ultimo_mes"><i class="material-icons">view_headline</i>Último mes</a></li>
  <li><a class="waves-effect" href="/ultimos_tres_meses"><i class="material-icons">view_week</i>Últimos tres meses</a></li>
  <li><a class="waves-effect" href="/ultimos_seis_meses"><i class="material-icons">view_module</i>Últimos seis meses</a></li>
  <li><a class="waves-effect" href="/ultimo_ano"><i class="material-icons">view_comfy</i>Último año</a></li>
  <li><a class="waves-effect" href="/todos"><i class="material-icons">wb_iridescent</i>Todos</a></li>    
</ul>
